<div class ="info-table">
  <div class ="info-main text-center mt-2"><h5>- info -</h5></div>
  <div class ="info-img text-center mb-1"><%= attachment_image_tag(user, :profile_image,:fill, 100, 100,fallback: "no_image.jpg", size: "100x100")%></div>

  <table class="table table-borderless">
    <tr>
      <th><%= user.name %></th>
      <th><%= user.partner_name %></th>
    </tr>
    <tr>
      <th><p class="info-p">Anniv.</p><%= user.anniversary %></th>
    </tr>
    <tr>
      <th><p class="info-p">Cp Name</p><%= user.couple_name %></th>
    </tr>
    <tr>
      <th>Follows</th>
      <th><%= link_to "#{user.followings.count}", user_followings_path(user), class: "following_count" %></th>
    </tr>
    <tr>
      <th>Followers</th>
      <th><%= link_to "#{user.followers.count}", user_followers_path(user), class: "follower_count" %></th>
    </tr>
  </table>

  <div class='info-btn text-right mr-2 mb-3'>
    <% if current_user != user %>
      <span id="follow_btn_#{user.id}"><%= render 'relationships/followbtn', user: user %></span>
      <%= link_to '', chat_path(@user.id),class: "far fa-envelope nav-link text-danger" %>
    <% else %>
      <div>
        <%= link_to '', chat_path,class: 'far fa-envelope nav-link text-danger' %>
        <%= link_to '', user_favorites_path(current_user.id),class: 'far fa-bookmark nav-link text-danger' %>
        <%= link_to '', edit_user_path(user),class: "fas fa-cog nav-link text-danger edit_user_#{user.id}" %>
        <%= link_to '', destroy_user_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-danger' %>
      </div>
    <% end %>
  </div>
</div>