<div class="container mt-3">
  <div class="row">
    <div class='col-xs-6 mx-auto mb-5'>
      <h5>CHAT WITH <%= @user.couple_name %></h5>

      <div class="message">
        <div style="text-align: left; font-size: 20px;"><%= @user.couple_name %></div> <!--dmの相手の名前-->
        <div style="text-align: right; font-size: 20px;"><%= current_user.couple_name %></div> <!--dm自分の名前-->
        <% @chats.each do |chat| %>
          <% if chat.user_id == current_user.id %> <!--自分のチャット右-->
            <div class="clearfix">
            <div class="chat-img"><%= attachment_image_tag(current_user, :profile_image,:fill, 50, 50,fallback: "no_image.jpg", size: "50x50",class: "rounded-circle float-right")%></div>
            <p style="text-align: right;"><%= chat.message %></p>
            </div>
          <% else %>
            <div class="clearfix"> <!--相手のチャット左-->
            <%= attachment_image_tag(@user, :profile_image,:fill, 50, 50,fallback: "no_image.jpg", size: "50x50",class: "rounded-circle float-left")%>
            <p style="text-align: left;"><%= chat.message %></p>
            </div>
          <% end %>
        <% end %>
      </div>

      <%= form_with model: @chat, remote: true do |f| %>
        <%= f.text_field :message %>
        <%= f.hidden_field :room_id %>
        <div class="form_btn offset-md-8 mt-5">
          <%= f.submit 'Send',class:"btn btn-border" %>
         </div>
      <% end %>
      <!--% if current_user != @user %>
        <--%= link_to 'Begin Chat', chat_path(@user.id) %>
      <--% end %-->
    </div>
  </div>
</div>

<!--写真のjs書く!-->